RewriteEngine on

RewriteCond %{HTTP_HOST} ^(http|https|)(:\/\/|)riseandshinefilms\.com
RewriteRule ^([0-9]+)/?$ en/ [NC,L,R=301]

RewriteCond %{HTTP_HOST} ^(http|https|)(:\/\/|)riseandshinefilms\.ch
RewriteRule ^([0-9]+)/?$ de/ [NC,L,R=301]
