/* Variables and root setting */
/* 1rem = 10px, or 62.5% of the standard 16px */
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --bg: white;
  --off-bg: whitesmoke;
  --fg: black;
  --fg-08: hsl(0, 0%, 20%);
  --off-fg: slategrey;
  --accent1: deepskyblue;
  --accent2: gold;
  --desaturate: brightness(0);
  --max-flex-width: 60vw;
  --max-image-width-small: 20vh;
  --max-image-width-medium: 30vh;
  --flex-wrap: nowrap;
  --flex-wrap-reverse: nowrap;
  --flex-direction-row: column;
  --h1-size: 4rem;
  --h2-padding-top: 12vh;
  --section-img-margin: 1rem 0 0 0;
}

/* Responsive stuff */
@media only screen and (min-width: 1200px) {
  :root {
    --max-flex-width: 720px;
  }
  header h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 880px) {
  .--additional {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  :root {
    --max-flex-width: 90vw;
    --max-image-width-medium: 20vh;
  }
}

@media only screen and (max-width: 550px) {
  :root {
    --flex-wrap: wrap;
    --flex-wrap-reverse: wrap-reverse;
    --flex-direction-row: row;
    --max-image-width-medium: 50vw;
    --max-image-width-small: 35vw;
    --section-img-margin: auto 0 auto 1rem;
    --h1-size: 3.6rem;
    --h2-padding-top: 15vh;
  }
  footer {
    font-size: 1rem;
  }
}

/* Dark color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --off-bg: slategrey;
    --fg: whitesmoke;
    --fg-08: hsl(0, 0%, 80%);
    --off-fg: wheat;
    --accent1: orange;
    --accent2: dodgerblue;
    --desaturate: saturate(0) brightness(1000%) contrast(200%);
  }
  section {
    background: linear-gradient(var(--bg), var(--off-bg)),
      radial-gradient(ellipse at bottom, transparent, var(--bg));
  }
  img {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
  img:not(.--photo) {
    filter: invert(100%) hue-rotate(180deg);
  }
}

/* Resetting and body stuff */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

ul {
  list-style-type: none;
}

body {
  font-size: 1.6rem;
  font-family: "Sen", system-ui, sans-serif;
  color: var(--fg);
  background: var(--fg-08);
}

#--non-footer-wrapper {
  min-height: 100vh;
  position: relative;
  /* z-index: 1; */
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

::selection {
  background: var(--accent1);
}

mark {
  background: var(--accent2);
}

/* Link Styling */
a {
  color: currentColor;
  text-decoration: none;
  text-decoration-thickness: 0rem;
  position: relative;
  text-decoration-skip: leading-spaces trailing-spaces edges;
  text-decoration-skip-ink: auto;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: var(--bg);
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
}

nav a:hover:before,
footer a:hover:before {
  visibility: visible;
  width: 100%;
}

a:active {
  text-decoration-line: underline;
  text-decoration-thickness: 0.4rem;
}

/* Navbar and Footer*/
.navbar {
  z-index: 99;
  top: 0;
  height: 10vh;
  background: var(--fg);
  opacity: 0.8;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 0.175em 0.5em;
  backdrop-filter: blur(4px);
}

.navbar,
footer {
  position: sticky;
  width: 100%;
  color: var(--off-bg);
}

footer {
  bottom: 0;
  left: 0;
  z-index: 0;
  max-height: 20vh;
  display: grid;
  place-items: auto;
  padding: 5rem 2rem;
  background: var(--fg-08);
}

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-nav {
  height: 100%;
}

.nav-item {
  font-size: 1.8rem;
}

.navbar-nav img {
  width: auto;
  max-height: 7vh;
}

/* Intro image or video */
header {
  height: 90vh;
  background: radial-gradient(ellipse at top, var(--off-bg), transparent),
    radial-gradient(ellipse at bottom, transparent, var(--bg));
  background-color: var(--off-bg);
}

header,
section:not(:last-of-type) {
  clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
}

header img {
  display: block;
  margin: auto;
  max-height: 70vh;
  max-width: 100vw;
}

header h1 {
  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -80%);
  font-size: var(--h1-size);
}

/* Everything below is for the content */
section {
  height: 100vh;
  color: var(--fg);
  background: linear-gradient(var(--bg), var(--off-bg));
  padding: 0 10vw;
}

section h2 {
  font-family: "Abril Fatface", cursive;
  font-size: calc(var(--h1-size) * 2);
  text-align: center;
  padding-top: var(--h2-padding-top);
}

section p {
  padding: 1rem;
}

section a:link {
  background: linear-gradient(
    to bottom,
    var(--accent2) 0%,
    var(--accent2) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-y;
  background-size: 0px 4px;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
  transition: background-size 0.5s ease-in-out 0s;
}

section a:hover {
  background-size: 100% 0.4rem;
}

section img {
  height: auto;
  display: block;
  margin: var(--section-img-margin);
}

section picture:first-of-type img {
  margin-top: 0;
  margin-left: 0;
}

section picture:only-of-type img {
  margin: auto;
}

section img.--desaturate {
  filter: var(--desaturate);
  transition: filter 0.5s ease-in-out;
}

section img.--desaturate:hover {
  filter: none;
}

/* Flexbox stuff follows, this is a WIP */
.flex {
  display: flex;
  flex-wrap: var(--flex-wrap);
  justify-content: space-between;
  align-items: center;
  /* FIXME: This feels like it should be padding-bottom on the section, but that doesn't work */
  height: 60%;
  max-width: var(--max-flex-width);
  margin-left: auto;
  margin-right: auto;
}

.flex--wrap-reverse {
  flex-wrap: var(--flex-wrap-reverse);
}

.flex__item {
  flex: 1 1 auto;
  padding: 1rem;
  margin: 1rem;
}

.flex__item--direction-row {
  display: flex;
  flex-direction: var(--flex-direction-row);
}

.--main {
  width: 66%;
}

.--small {
  max-width: var(--max-image-width-small);
}

.--medium {
  max-width: var(--max-image-width-medium);
}

#contact p {
  text-align: center;
  font-size: calc(var(--h1-size) / 1.5);
}

.--logo {
  max-width: calc(var(--max-image-width-small) / 2);
  margin: 0 1rem 0;
}
